.CartContenedor {
    margin: 5vh auto;
    width: 80%;
    min-height: 61.5vh;
}

.CartTitulo {
    text-align: center;
}

.CartTotal {
    font-size: 20px;
    margin: 3vh 0 0 5vh;

}

.CartTotal span {
    color: green;
}